.invoice-items {
  display: grid;
  grid-template-columns: 1fr;
  &__labels {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
  }
}

.invoice-items__item {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-bottom: 5px;
  .invoice-item {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    &__value {
      margin-right: 5px;
    }
    &__button {
      display: grid;
      grid-template-columns: 1fr;
    }
  }
}

