.section {
    display: block;
    width: 100%;
    &__header {
        width: 100%;
        text-align: start;
        margin-bottom: 10px;
    }
    &__content {
        width: 100%;
    }
}
.content-field {
    display: flex;
    margin-bottom: 10px;
    &__label {
        margin-right: 5px;
    }
}

//temporary class for h2
h2 {
    text-align: start;
}