.section {
  &__header {
    text-transform: uppercase;
    margin-bottom: 10px;
    font-size: 1.467rem;
  }

  &__columns-one-column {
    display: grid;
    grid-template-columns: 1fr;
  }

  &__content-two-columns {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
  }
}
