.section {
  &__header {
    text-transform: uppercase;
  }

  &__columns-one-column {
    display: grid;
    grid-template-columns: 1fr;
  }

  &__content-two-columns {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}
